#login_text{
    text-align: center;
    font-size: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    background-color: black;
    color: white;
    text-transform: capitalize;
    height: 20vh;
    min-height: max-content;
    overflow: hidden;
}
#request_text{
    text-align: center;
    font-size: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    background-color: red;
    color: white;
    text-transform: capitalize;
    height: 10vh;
}

#butt{
    width: 150px;
    height: 35px;
    font-size: 25px;
    background-color: aquamarine;
    border: 1px solid gray;
    border-radius: 25px;
    margin-top: 100px;
    text-align: center;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
}
input{
 width: 25%;
 height: 40px;
 display: block;
 margin: 20px;
 padding: 5px;
 font-size: 20px;
}